body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0e3d3;
  font-family: sans-serif;
}
#welcome {
  text-align: center;
}
.hidden {
  display: none;
}

h1 {
  font-size: 4rem;
  color: #745c4c;
  text-align: center;
  margin-bottom: 2rem;
}
#round {
  box-shadow: 0.5rem 0.5rem black, -0.5rem -0.5rem #ccc;
}
#round1 {
  box-shadow: 0.5rem 0.5rem black, -0.5rem -0.5rem #ccc;
}
.round3 {
  box-shadow: 0.5rem 0.5rem black, -0.5rem -0.5rem #ccc;
}

#p1 {
  font-size: 2rem;
  color: #745c4c;
  text-align: center;
  margin-bottom: 4rem;
}
#optionsButton {
  background-color: #745c4c;
  color: #f0e3d3;
  border: none;
  border-radius: 2rem;
  padding: 1rem 2rem;
  font-size: 2rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.col-md-4 {
  border: 2px solid #000;
  box-sizing: border-box;
  height: 100%;
  padding: 4rem; /* add padding */
  margin: 0 auto; /* center horizontally */
}

.col-md-2 {
  border: 2px solid #000;
  box-sizing: border-box;
  height: 100%;
  padding: 4rem; /* add padding */
  margin: 0 auto; /* center horizontally */
  top: 0;
  left: 0;
}
p {
  font-size: 2rem;
  color: #745c4c;
  text-align: left;
  margin-bottom: 4rem;
}
#quitButton {
  background-color: #745c4c;
  color: #f0e3d3;
  border: none;
  border-radius: 2rem;
  padding: 1rem 2rem;
  font-size: 2rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

#startButton {
  background-color: #745c4c;
  color: #f0e3d3;
  border: none;
  border-radius: 2rem;
  padding: 1rem 2rem;
  font-size: 2rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
#render {
  background-color: #745c4c;
  color: #f0e3d3;
  border: none;
  border-radius: 2rem;
  padding: 0.8rem 1.6rem;
  font-size: 1.6rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

#backToMain{
  background-color: #745c4c;
  color: #f0e3d3;
  border: none;
  border-radius: 2rem;
  padding: 0.8em 1.6em;
  font-size: 1.6rem;
  cursor: pointer;
  transition: backgroung-color 0.2s ease;
}

#yesorno {
  left: 100px;
}


button:hover {
  background-color: #5b4739;
}

.circle {
  display: inline-block;
  background-color: #a67c52;
  color: #f0e3d3;
  border-radius: 50%;
  padding: 0.5rem;
  margin-right: 1rem;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  margin-top: -0.25rem;
}
label[for="file-input"] {
  background-color: #a67c52;
  color: #fff;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

label[for="file-input"]:hover {
  background-color: #5b4739;
}

label[for="inputbug1"]{
  background-color: #a67c52;
  color: #fff;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

label[for="inputbug1" ]:hover{
  background-color: #5b4739;
}

label[for="inputbug2"]{
  background-color: #a67c52;
  color: #fff;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}
label[for="inputbug2" ]:hover{
  background-color: #5b4739;
}